<!DOCTYPE html>
<html>
    <head>
        <link rel=stylesheet type="text/css" href="{{ url_for('static', filename = 'css/bootstrap.css') }}" />
        <script src="{{ url_for('static', filename = 'js/bootstrap.bundle.min.js') }}"></script>
    </head>
    <body>
        {% block page_content %}{% endblock %}
    </body>
</html>