{% extends "layout.html" %}

{% block page_content %}
<div clas="container">
    <div class="row">
        <div class="col-2">
            <img style="height:100px;" src="../static/assets/poo.svg">
            </img>
        </div>
        <div class="col-2">
        </div>
        <div class="col-2">
            <p>Team
            </p>
        </div>
        <div class="col-2">
            <p> Project
            </p>
        </div>
        <div class="col-2">
            <p> Safety 
            </p>
        </div>
        <div class="col-2">
            <p> Awards   
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <figure class="text-end">
                <blockquote class="blockquote">
                  <p>A well-known quote, contained in a blockquote element.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  Someone famous in <cite title="Source Title">Source Title</cite>
                </figcaption>
              </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <ul class="list-inline">
                <li class="list-inline-item">This is a list item.</li>
                <li class="list-inline-item">And another one.</li>
                <li class="list-inline-item">But they're displayed inline.</li>
              </ul>
            <img style="height: 250px;" src="../static/assets/m01.png">
            </img>
        </div>
        <div class="col-4">
            <ul class="list-unstyled">
                <li>This is a list.</li>
                <li>It appears completely unstyled.</li>
                <li>Structurally, it's still a list.</li>
                <li>However, this style only applies to immediate child elements.</li>
                <li>Nested lists:
                  <ul>
                    <li>are unaffected by this style</li>
                    <li>will still show a bullet</li>
                    <li>and have appropriate left margin</li>
                  </ul>
                </li>
                <li>This may still come in handy in some situations.</li>
              </ul>
        </div>
        <div class="col-5">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                  <tr>
                    <th scope="row">7</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">8</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">9</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <div class="row m-2">
        <div class="clearfix">
            <img src="../static/assets/m02.png" class="col-md-6 img-fluid float-md-end mb-3 ms-md-3">
            <p>
                The sun dipped below the horizon, casting a warm, golden hue over the tranquil countryside. Fields of wheat swayed gently in the evening breeze, their tips catching the last rays of sunlight. Birds sang their final songs of the day, creating a soothing symphony that blended perfectly with the rustling leaves.
            </p>  
            <p>
                A sense of peace enveloped the land, as the first stars began to twinkle in the deepening sky. In the distance, a small cottage emitted a soft glow from its windows, promising warmth and comfort. The scene was a perfect tableau of serenity.
            </p> 
            <p>
                It was a moment of quiet reflection before night fully embraced the world.
            </p> 
        </div>
    </div>
</div>

{% endblock %}